{% extends "back-base.html" %}

{% block content %}
    <div class="container">
        <form action="/admin/products/add" method="POST" enctype="multipart/form-data">
			<h1>add new product</h1>
			<label>name
				<input type="text" name="name" value="{{ inputs.name }}"/></label>
			{{ errors.name }}

            <label>price
				<input type="number" name="price" value="{{ inputs.price }}"/></label>
			{{ errors.price }}
			<label>cart description
				<input type="text" name="cartDescription"/></label>
			{{ errors.cartDescription }}
			<label>short description
				<input type="text" name="shortDescription"/></label>
			{{ errors.shortDescription }}

			<label>long description
				<input type="text" name="longDescription"/></label>
			{{ errors.longDescription }}

			<label>thumbnail
				<input type="file" name="thumbnail" accept=".gif, .png, .jpeg, .webp, .svg"/></label>
			<fieldset>
				<legend>Is active?</legend>
				<label>
					yes<input type="radio" name="active" value="1" checked/>
				</label>
				<label>
					no<input type="radio" name="active" value="0"/>
				</label>
			</fieldset>

			<button>Save</button>
			<button>add variations</button>
		</form>
    </div>
{% endblock %}