{% extends "back-base.html" %}

{% block content %}
    <div class="container">
        <h1>Variants</h1>
        {% for v in variants %}
            <form action="/admin/products/option" method="post">
                <label>
                    {{v.OptionGroupName}}
                    <input type="text" name="name" id="">
                </label>
                <input type="hidden" name="optionid" value="{{v.OptionGroupID}}">
                <button>add</button>
            </form>
            {# <p>{{v.OptionGroupName}}</p> #}
        {% endfor %}

        <form action="/admin/products/variants" method="POST" enctype="multipart/form-data">
            <h1>add a new variant</h1>
            <label>name <input type="text" name="name" value="{{inputs.name}}"></label>
            <span>{{errors.name}}</span>
            <button>Save</button>
        </form>
    </div>
{% endblock %}